<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>

    <form action="/products/<%= product._id %>?_method=PUT" method="POST">

        <label for="name">Product Name: </label>
        <input type="text" id="name" name="name" placeholder="product name..." value="<%= product.name %>">
        <br>

        <label for="price">Price, USD: </label>
        <input type="number" min="0" id="price" name="price" step="any"
        value="<%= product.price %>">
        <br>

        <label for="category">Category: </label>
        <select name="category" id="category">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select>
        <br>

        <button>Submit</button>
    </form>
    
</body>
</html>