<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Products, category: <%= category %></title>
</head>
<body>
    <h1>Products</h1>
    <h2>category: <%= category %></h2>

    <a href="/products/new">Create A New Product</a>

    <ul>
        <% for (let product of products){ %>
        <li><a href="/products/<%= product._id %>"><%= product.name %></a></li>
        <% } %>
    </ul>

    
    
</body>
</html>