<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>Add A Product</h1>

    <form action="/products" method="POST">

        <label for=""></label>
        <input type="text">
        <label for=""></label>
        <input type="text">

        <button>Submit</button>
    </form>
    
</body>
</html>